# Import custom configuration files
# Only one of the following configurations should be enabled.

# Run a standard or replication master instance.
!includedir /opt/local/etc/mysql5/conf.d/master

# Run a replication slave instance.
#!includedir /opt/local/etc/mysql5/conf.d/slave
