# Import custom configuration files
# Only one of the following configurations should be enabled.

# Run a standard or replication master instance.
!includedir /etc/mysql/conf.d/master

# Run a replication slave instance.
#!includedir /etc/mysql/conf.d/slave
